/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f8f9fa;
  }
  
  /* Header Styles */
  .navbar {
    background-color: #f8f9fa; /* Warna latar belakang header */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; /* Warna teks */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Jarak antara logo dan nama perusahaan */
  }
  
  .logo {
    max-height: 50px; /* Ukuran logo */
    width: auto;
    border-radius: 5px; /* Sudut melengkung opsional */
  }
  
  .company-name {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: black; /* Warna teks menu */
    text-decoration: none;
    font-weight: 500;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;